
header aside {
    width: 130px;
    align-items: center;
}

header aside .top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header aside .top .ico {
    display: flex;
    align-items: center;
}

header aside .top img.logoB {
    width: 100px;
}

header aside .top img.logo {
    display: none;
}

header aside .top img {
    margin: 10px 0;
    height: 20px;
}

header aside .top img.logoB,
header aside .top .etichetta{
    display: flex;
    
}

header aside .middle {
    display: flex;
}

header aside .middle ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header aside .middle ul h3 {
    display: flex;
    align-items: center;
}

header aside .bottom {       
    width: 50%;
}

header aside .bottom hr{       
    
}

header aside .bottom .label {
    display:inline-block;
}

/*Main*/

main{
    padding-left: 135px;
}
