
header aside {
    width: 130px;
    align-items: center;
}

header aside .top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header aside .top .ico {
    display: flex;
    align-items: center;
}

header aside .top img.logoB {
    width: 100px;
}

header aside .top img.logo {
    display: none;
}

header aside .top img {
    margin: 10px 0;
    height: 20px;
}

header aside .top img.logoB,
header aside .top .etichetta{
    display: flex;
    
}

header aside .middle {
    display: flex;
}

header aside .middle ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header aside .middle ul h3 {
    display: flex;
    align-items: center;
}

header aside .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 12px;
}

header aside .bottom .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header aside .bottom hr {
    display: inline-block;
    width: 110px;
    background-color: #0e0e0e;
    margin: 5px 0;
}

header aside .bottom img {
    width: 100%;
}

header aside .bottom img.download {
    display: block;
    margin: 2px;
    padding: 0px 1px;
    width: 21%;
}

header aside .bottom .label {
    display: inline-block;
    width: max-content;
    font-size: 13px;
}

/*Main*/

main{
    padding-left: 135px;
}
