
/*reset lo fa reset.css di Eric A. Meyer*/

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    min-width: 550px;
}

header {
    display: flex; 
    justify-content:flex-end;
    height: 90px;
}

header .MdG-btn {
    border-radius: 20px;
}

/*aside*/
header aside {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 50px;
    position: absolute;
    left: 0;
    background-color:rgb(71, 71, 71);
    overflow: hidden;
}

header aside .top {
    flex-grow: 1;
}

header aside .top img {
    margin: 7px 10px;
}


header aside .middle {
    flex-grow: 1;
}

header aside .bottom {
    
}


header aside .bottom img.download{
    display: block;
    margin: 14px;
    padding: 0px 1px;   
}

header aside .bottom img.profile {
    display: block;
    background-color:#888; 
    border-radius:50%;
    margin: 7px;
    padding: 0px 1px;   
}



/*MAIN*/

main{
    height: calc( 100vh - 90px - 80px );
    padding-left: 50px;
}

main h3{
    font-size:16px;
    font-weight: 700;
    letter-spacing: 2px;
}

main .testo ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .testo ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    align-items: center;
}

main .testo ul .underline {
    height: 2px;
    background-color: #adff2f00;
    width: 60%;    
}

main .testo ul li:hover .underline {
    background-color: #adff2f;
}
 
main .gallery {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    height: auto;
}

main .box {
    flex-basis: calc( 100% / 6 - 15px);
    background-image: url('../img/metal_lifting.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .watermark{
    background-color: transparent;
    color: transparent;
    flex-basis: calc( ( 100vw - ( 6* 5px ) - 50px ) / 6  );
    min-width: 200px;
    height: 215px;
}

main .box:hover .watermark{
    color: white;
    background-color:rgba(17, 17, 17, 0.664)
}

main .watermark span.material-icons {
    font-size: 130px;
    margin: 50%;
    transform: translate(-50%, -50%);
}

/*FOOTER*/

footer {
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
}


footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    position: relative;
    height: 80px;
    width: 95%;
}

footer .box {
    display: flex;
    align-items: center;
    width: 11%;
    justify-content: center;
}

footer .account {
    display: flex;
    align-items: center;
    width: 65%;
}


footer .account .sx{    
    width: 35%;
}

footer .account .cn{    
    width:10px;
}


footer .account img{    
    height: 100%;
    width: 35px;
    object-fit: cover;
}

footer .preferiti {
    color: #5a5a5a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 5%;
    align-items: center;
}


footer .box {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

footer .controlli{
    width:40%;
}

footer .controlli .up {
    display: flex;
    justify-content: center;
}

footer .controlli .down {
    display: flex;
    align-items: center;
}

footer .controlli i.fas.fa-random {
    font-size: 24px;
}

.avanzamento{
    height:100%;
    width: 20%;
    background-color:white;
    border-radius: 2px;
}

.barra {
    height: 2px;
    width: calc( 100% - 33px * 2 );
    background-color: #5a5a5a;
    border-radius: 2px;
    display: flex;
}


footer .controlli .timeI,
footer .controlli .timeF{
    display: inline-block;
}

  
footer .volume {
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
}

footer .volume .avanzamento {
    width: 25%;
    background-color: white;
    border-radius: 2px;
}

footer .volume .barra {
    width: calc( 100% - 52px * 2 );
    display: flex;
    align-items: center;
}