
/*reset lo fa 12bool*/

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    min-width: 550px;
}

header {
    display: flex;
}

header .MdG-btn {
    justify-content: flex-end;
}

main{
    height: calc( 100vh - 50px );
}

footer{
    display:flex;
    justify-content: space-between;
    background-color:red;
}

footer .account{
    color:rgb(0, 255, 0);
}



