
/*reset lo fa 12bool*/

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    min-width: 550px;
}

header {
    display: flex; 
    justify-content:flex-end;
}

header .MdG-btn {
    border-radius: 20px;

}

header nav {
    
}

main{
    height: calc( 100vh - 48px );
}

main .box{
    background-color: white;
}

main .watermark{
    background-color: #090909b5;
}

footer{
    display:flex;
    justify-content: space-between;
    background-color:red;
}

footer .account{
    color:rgb(0, 255, 0);
}



