
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    min-width: 550px;
}

main{
    height: calc( 100vh - 50px );
}

footer{
    display:flex;
    justify-content: space-between;
    background-color:red;
}




