
/*reset lo fa reset.css di Eric A. Meyer*/

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex; 
    justify-content:flex-end;
    height: 90px;
}

a{
    color: #a5a5a4;
    text-decoration: none;
}

a:hover{
    color: #fff;
}

.MdG-btn:hover {
    padding:6px;
}

.circle{
    border-radius:50%;
    overflow: hidden;
}

header .MdG-btn {
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-color: white;
}

nav{
    align-self: center;
}

/*aside*/
header aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    min-height: calc(100vh - 80px);
    width: 50px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color:rgb(71, 71, 71);
    overflow: hidden;
    padding-left: 5px;
}

header aside .top {
    flex-basis: calc( 100% / 3);
}

header aside .top img {
    margin: 7px 10px;
}

aside .top .bordo{
    border-left: 1px solid #a7ff2c;
}

header aside .top img.logoB,
header aside .top .etichetta{
    display: none;
}

header aside .middle {
    display:none;
}

elemento {
    display: flex;
    justify-content: center;
    align-items: center;
}

header aside .bottom .label,
header aside .bottom hr{
    display: none;        
}


header aside .bottom img.download{
    display: block;
    margin: 14px;
    padding: 0px 1px;   
}


header aside .bottom img.profile {
    display: block;
    background-color:#888; 
    border-radius:50%;
    margin: 7px;
    padding: 0px 1px;   
}



/*MAIN*/

main{
    height: calc( 100vh - 90px - 80px );
    padding-left: 50px;
    overflow-y: auto;
}

main h3{
    font-size:16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 5px;
}

main .item{
    height: 100px;
}

main .testo ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7d7f84;
    align-content: space-evenly;
    height: 100%;
}

main .testo ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: nowrap;
}

main .testo ul .underline {
    height: 2px;
    background-color: #adff2f00;
    width: 60%;    
    margin:auto;
}

main .testo ul li:hover .underline {
    background-color: #adff2f;
}
 
main .gallery {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    height: auto;
}

main .box {
    flex-basis: calc( 100% / 2 - 15px);
    /*background-image: url('../img/metal_lifting.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;*/
    position: relative;
    object-fit: contain;
    width:100%;
    margin: 5px 5px;
}

main .watermark{
    position: absolute;
    min-width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
}

main .box:hover .watermark{
    color: white;
    background-color:rgba(17, 17, 17, 0.664)
}

main .gallery img {
    width: inherit;
    
}

main .watermark span.material-icons {
    font-size: 130px;
    margin: 50%;
    transform: translate(-50%, -50%);
}

main .gallery .titolo {
    text-align: center;
    margin: 5px auto;
}

/*FOOTER*/

footer {
    background-color: rgb(48, 48, 48);
    
}


footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    position: relative;
    height: 80px;
    width: 95%;
}

footer .box {
    display: flex;
    align-items: center;
    width: 11%;
    justify-content: center;
}

footer .account {
    display: flex;
    align-items: center;
    width: 65%;
}


footer .account .sx{    
    width: 35%;
}

footer .account .cn{    
    width:10px;
}

footer .account .dx .dx-middle,
footer .account .dx .dx-down{
    display: inline-block;
}


footer .account img{    
    height: 100%;
    width: 35px;
    object-fit: cover;
}

footer .preferiti {
    color: #5a5a5a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 5%;
    align-items: center;
}


footer .box {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

footer .controlli{
    width:40%;
    color: white;
}

footer .controlli .up {
    display: flex;
    justify-content: center;
}

footer .controlli .up a {
    color: #fff;
}

footer .controlli .up a:hover .hover{
    font-size: 30px;
}

footer .controlli .down {
    display: flex;
    align-items: center;
}

footer .controlli i.fas.fa-random {
    font-size: 24px;
}

.avanzamento{
    height:100%;
    width: 20%;
    background-color:white;
    border-radius: 2px;
}

.barra {
    height: 2px;
    width: calc( 100% - 33px * 2 );
    background-color: #5a5a5a;
    border-radius: 2px;
    display: flex;
    align-items: center;
}


footer .controlli .timeI,
footer .controlli .timeF{
    display: inline-block;
}

  
footer .volume {
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
}

footer .volume .avanzamento {
    width: 25%;
    background-color: white;
    border-radius: 2px;
}

footer .volume .barra {
    width: calc( 100% - 52px * 2 );
    display: flex;
    align-items: center;
}

.barra:hover .avanzamento{    
    background-color: #a7ff2c;    
}
.barra span.material-icons{    
    display: none;   
}

.barra:hover span.material-icons{    
    display: inline-block;   
}